#spinner {
    height: 30vh !important;
}

#singup_btn {
    min-width: fit-content;
    width: 210px;
    color: white;
    background-color: #e68a00;
    border: none;
}

#singup_btn:hover {
    background-color: #f79c14;
}
