.form__movie-rate__content {
    border-radius: 5px;
}

.stars_block {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    gap: 8px;
    max-width: 90%;
}

.btn_send_rate,
.btn_edit_rate {
    color: #ffa500;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn_send_rate:hover,
.btn_edit_rate:hover {
    color: #45a049;
}

.btn_send_rate:disabled:hover {
    color: #ccccb3;
}

.btn_send_rate:disabled {
    cursor: default;
    color: #ccccb3;
}

.fa-check {
    font-size: calc(1.7rem + 1vw);
    ;
}

.fa-pen {
    font-size: calc(1.3rem + 1vw);
    ;
}

.userMovieRate {
    cursor: pointer;
    color: #ccccb3;
    font-size: calc(1.6rem + 1vw);
    ;
}

.userMovieRate[disabled] {
    cursor: default;
}
