.form__login {
    width: 800px;
    margin: 0 auto 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
}

label {
    margin: 0;
}

input[type=submit] {
    align-self: center;
    background-color: #04AA6D;
    color: white;
    width: 35%;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.errorMessage {
    position: fixed;
    padding: 20px 30px;
    width: 500px;
    min-height: 200px;
    left: calc(50% - 200px);
    bottom: calc(50% - 100px);
    background-color: #ccc;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.errorMessage__text {
    color: crimson;
    font-size: 22px;
    line-height: 28px;
}

.btnErrorMessageClose {
    width: 80px;
}
