#film-container {
    overflow-y: scroll;
    flex: 1 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
}
.album {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.album .container {
  display: flex;
  flex: 1 0 auto;
}