.user-movie-card {
    text-decoration: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
    overflow: hidden;
    opacity: .8;
}

.user-movie-card:hover {
    opacity: 1;
}

.user-movie-card:hover {
    text-decoration: none;
}

.user-movie-card_img {
    padding: 0;
    width: 100%;
}

.user-movie-card_ru-title,
.user-movie-card_title,
.user-movie-card_year,
.stars {
    width: 100%;
    overflow: hidden;
    line-height: 1.3;
}

.user-movie-card_ru-title {
    font-size: calc(1rem + .7vw);
}

.user-movie-card_title {
    font-size: calc(.8rem + .5vw);
}

.user-movie-card_year {
    font-size: calc(1rem + .7vw);
}

@media (min-width: 768px) {
    .user-movie-card_ru-title {
        width: 35%;
        font-size: calc(1rem + .5vw);
    }

    .user-movie-card_title {
        width: 30%;
    }

    .user-movie-card_year {
        width: 10%;
        font-size: calc(.85rem + .7vw);
    }

    .stars {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .user-movie-card_ru-title {
        font-size: 1.25rem;
    }

    .user-movie-card_title {
        font-size: 1.1rem;
    }

    .user-movie-card_year {
        font-size: 1.1rem;
    }

}

@media (min-width: 1200px) {
    .user-movie-card_ru-title {
        font-size: 1.5rem;
    }

    .user-movie-card_title {
        font-size: 1.3rem;
    }

    .user-movie-card_year {
        font-size: 1.3rem;
    }
}
