.user-movies .card a {
  text-decoration: none;
}
.user-movies .card .row .col-md-4 {
  max-width: 160px;
}
.user-movies .card .row img {
  opacity: 0.8;
}
.user-movies .card:hover .row img {
  opacity: 1;
}
.user-movies .card .row .col-md-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.user-movies .card .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-movies .card .card-body .fa-star {
  font-size: 20px;
  color: rgb(204, 204, 179);
}
.user-movies .card .card-body .cheked {
  color: rgb(255, 165, 0);
}
@media (max-width: 768px) {
  .user-movies .card .row {
    justify-content: center;
  }
  .user-movies .card .row .col-md-4 {
    max-width: 320px;
  }
  .user-movies .card .card-body {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .user-movies .card .card-body h4,
  .user-movies .card .card-body h5,
  .user-movies .card .card-body h4,
  .user-movies .card .card-body .stars {
    width: 100%;
  }
}
