.movie-list-item {
    text-decoration: none;
}

.movie-list-item:hover {
    text-decoration: none;
}

.card-img-top {
    opacity: 0.8;
}

.movie-list-item:hover .card-img-top {
    opacity: 1;
}

.movie-list-item:hover .card-title {
    color: #ffa500 !important;
}

.card-body {
    padding: 0.5rem 1rem;
}

.card-title {
    font-size: 1.15rem !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-subtitle {
    font-size: 0.9rem !important;
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
