.form__movie-grade {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 8px;

}

input[type=radio] {
    display: none;
}

.hidden {
    display: none;
}

.btn_send_grade,
.btn_edit_grade {
    align-self: center;
    background-color: #04AA6D;
    padding: 0;
    color: white;
    width: 4em;
    height: 3.5em;
    font-weight: 500;
    font-size: 16px;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn_send_grade:hover {
    background-color: #45a049;
}

.btn_send_grade:disabled:hover {
    background-color: #ccccb3;
}

.btn_send_grade:disabled {
    cursor: default;
    background-color: #ccccb3;    
}

label {
    cursor: pointer;
    color: #ccccb3;
}

.to-bookmarks-btn {
    width: 250px;
    background-color: #04AA6D;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.to-bookmarks-btn:hover {
    background-color: #45a049;
}
