.movie-list-item {
    text-decoration: none;
}

.movie-list-item:hover {
    text-decoration: none;
}

.card-img-top {
    opacity: 0.8;
}

.movie-list-item:hover .card-img-top {
    opacity: 1;
}

.movie-list-item:hover .card-title {
    color: #ffa500 !important;
}

.card-body {
    padding: 0.5rem 1rem;
}

.movie-ru_title {
    font-size: 1.15rem !important;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie-title {
    font-size: 0.9rem !important;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie-year {
    line-height: 1;
}

@media (min-width: 1200px) {

    .movie-ru_title {
        font-size: 1.2rem !important;
    }

    .movie-title {
        font-size: 1rem !important;
    }

    .movie-year {
        font-size: 1rem !important;
    }
}

@media (min-width: 1400px) {

    .movie-ru_title {
        font-size: 1.3rem !important;
    }

    .movie-title {
        font-size: 1.1rem !important;
    }

    .movie-year {
        font-size: 1.1rem !important;
    }
}
