.profile__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.profile__title {
    font-size: 2rem;
}

.profile__main-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3vh 3vw;
    padding: 3vh 3vw;
    position: absolute;
    min-height: 85vh;
}

.profile_user-block,
.buttons-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: flex-start;
    align-items: center;  
}

.profile_user-block {
width:30%;
}

.buttons-block {
    width: 60%;

}

.btn {
    width: 250px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
