#dropdown-profile-details {
  padding: 1vw 0 1vw 1vw;
}

.dropdown-menu {
  margin-top: .4rem;
}

.userAvatar {
  object-fit: cover;
  position: relative;
  font-size: 1.2rem;
}

.userAvatar::after {
  content: '';
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px inset;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 100%;
}

.userName {
  max-width: 40vw;
  width: fit-content;
  margin-left: 1vw;
  margin-right: 1vw;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.dropdown-toggle::after {
  margin: 0 .5rem 0 0!important;
}


header .dropdown > .dropdown-toggle,
header .dropdown > .dropdown-toggle:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffa500;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
}

header .dropdown .dropdown-item {
  font-size: 1.2rem;
}

header .dropdown-item:focus,
header .dropdown-item:hover {
  color: #fff;
  background-color: #ffa500;
}

@media (max-width: 768px) {
  header .dropdown > .dropdown-toggle,
  header .dropdown > .dropdown-toggle:hover {   
    font-size: calc(.3rem + 1.9vw);
    font-weight: 200;
    line-height: calc(.4rem + 2vw);
  }

  .userAvatar {
    
    width: 5vw!important;
    height: 5vw!important;
  }

  .userAvatar  > div {
    font-size: 2.8vw!important;
  }

  .userName{
    max-width: 30vw; 
  }
}