.navbar-brand {
    font-size: calc(1.4rem + .75vw) !important;
    font-weight: 500;
}

.navbar-brand {
    color: #ffc107 !important;
}

.nav-link {
    font-size: 1rem !important;
}

.nav-link:hover {
    color: #ffc107 !important;
}

#navbar-toggler {
    border: none !important;
}

#navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media (min-width: 768px) {
    .nav-link {
        font-size: 1rem !important;
    }
}

@media (min-width: 992px) {
    .nav-link {
        font-size: 1.15rem !important;
    }
}

@media (min-width: 1200px) {
    .nav-link {
        font-size: 1.3rem !important;
    }
}
